# Ignore some static files and directories.
/.settings
/.project
/.htaccess
/.buildpath
/.gitattributes
/composer.json
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/error.php
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/
/vendor/

# Ignore fix module files and directories.
/modules/*
!/modules/weblinks
!/modules/weblinks/*
/themes/*
!/themes/admin_default/css/weblinks.css
!/themes/admin_default/js/weblinks.js
!/themes/admin_default/images/weblinks
!/themes/admin_default/images/weblinks/*
!/themes/admin_default/modules/weblinks
!/themes/admin_default/modules/weblinks/*
!/themes/default/css/weblinks.css
!/themes/default/js/weblinks.js
!/themes/default/images/weblinks
!/themes/default/images/weblinks/*
!/themes/default/modules/weblinks
!/themes/default/modules/weblinks/*
/.github
/LICENSE
/api.php
